body {
   background: black;
}

body:active {
   background: white;
}

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 30px;
}

.avatar {
   width: 200px;
   border-radius: 28px;
   box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.card {
   padding: 15px 20px;
   border-radius: 10px;
   color: rgb(255, 255, 255);
   margin-bottom: 20px;
}

.card h2 {
   margin-bottom: 20px;
}

.info {
   margin-bottom: 20px;
}

.personal {
   background-color: orange;
}

.card p {
   font-style: italic;
   font-weight: bold;
   margin: 0;
}

.interests {
   background-color: rgb(0, 255, 0);
}

.job {
   background-color:rgb(250, 50, 50)
}

.contacts {
   background-color:rgb(45, 45, 255)
}

h4 {
   margin-bottom: 10px;
}

.btn {
   background: #111;
   padding: 5px 10px;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-family: inherit;
   text-decoration: none;
}

.btn:hover {
   opacity: .8;
   color: blueviolet;
}

.btn:active {
   color: purple;
}

/* .btn:visited {
   color: yellow;
} */

.list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.list li {
   margin-bottom: 8px;
   border-bottom: 5px solid white;
   border-radius: 20%;
   cursor: pointer;
}

.list li:hover {
   color: blue;
}

.list li:active {
   color:rgb(250, 50, 50)
}

.tables {
   width: 100%;
}

.tables td {
   text-align: center;
   padding-bottom: 10px;
   cursor: pointer;
}

.tables td:hover {
   background: orange;
}

.tables td:active {
   background: rgb(0, 255, 0);
}

.tables tr:nth-child(2), .tables tr:nth-child(4) {
   background: rgb(39, 39, 255);
}

.form h2 {
   text-align: center
}

.form-row {
   margin-bottom: 10px;
   display: flex;
}

.form-row .form-group{
   /* display: inline-block; */
   margin-right: 20px;
   width: 50%;
   /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
   margin-right: 0;
}

.form-group label {
   display: block;
   font-size: 14px;
   color: #86898f;
}

.form-group input, textarea {
   width: 100%;
   box-sizing: border-box;
   border: none;
   background: transparent;
   border-bottom: 1px solid #ccc;
   color: #000;
   padding: 15px 0 10px;
   outline: none;
   font-family: inherit;
}

@media (max-width: 750px) {
   body {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
   }
}